---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";

export const prerender = false;
---

<Layout>
    <Header />
    <div class="success-container">
        <h1>Tu vehículo es válido para tener un seguro a todo riesgo</h1>
        <br />
        <h1>Bienvenido a AXA</h1>
    </div>
</Layout>

<style>
    .success-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 95vh;
        margin: 0;
        background-color: #f4f4f4;
    }

    .success-container h1 {
        font-size: 2rem;
        color: #2c3e50;
        margin-bottom: 20px;
    }
</style>
