<section class="max-w-4xl mx-auto flex gap-4 justify-between mt-20 bg-gray-500 px-4 py-2 rounded-md">
    <div class="flex flex-col">
        <h1 class="font-bold">Matrciula</h1>
        <p>9999ZZZ</p>
    </div>
    <div class="flex flex-col">
        <h1 class="font-bold">Modelo</h1>
        <p>Renault laguna</p>
    </div>
    <div class="flex flex-col">
        <h1 class="font-bold">Año</h1>
        <p>2023</p>
    </div>
    <div class="flex flex-col">
        <h1 class="font-bold">Estado</h1>
        <p>procesando</p>
    </div>
</section>