---
import { IconPhoneFilled } from '@tabler/icons-preact';
---

<header class="max-w-4xl mx-auto flex items-center justify-between p-4">
    <a href="/"><img src="/images/axa-logo.webp" alt="AXA Logo" class="w-8 h-8" /></a>
    <div class="flex items-center gap-2">
        <IconPhoneFilled stroke={1} class={"text-blue-950 w-4 h-4"}/>
        <h1 class="flex"> 91 837 89 03</h1>
    </div>
</header>